/* stylelint-disable selector-max-id */
:root {
    /* Variables  */
    --header-height: 72px;
    --header-z-index: 100;
    --main-padding: 24px;
    --small-padding: 8px;
    --item-border-radius: 8px;
    --item-padding: 8px;
    --item-inline-padding: 12px;
    --button-height: 36px;
    --main-content-gap: 12px;
    --main-content-offset: 16px;
    --main-text-gap: 8px;
    --card-border-radius: 16px;
    --modal-shadow: rgb(0 0 0 / 35%) 0 5px 15px;

    font-size: 16px;
    font-family: arial, helvetica, sans-serif;
}

html {
    /* плашка-бегунок и фон */

    &::-webkit-scrollbar {
        width: 6px; /* в основном для вертикальных полос прокрутки */
        height: 6px; /* в основном для горизонтальных полос прокрутки */
    }

    &::-webkit-scrollbar-thumb {
        /* плашка-бегунок */
        background: rgb(var(--primary-color-rgb) / 60%);
        border-radius: 8px;
    }

    &:-webkit-scrollbar-track {
        /* фон */
        background: transparent;
    }

    scrollbar-color: rgb(var(--primary-color-rgb) / 60%) transparent;
}

html,
body {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    -ms-scroll-chaining: none;
    overscroll-behavior-x: none;

    * {
        box-sizing: border-box;
        transition:
            color 200ms ease,
            background-color 200ms ease,
            fill 200ms ease,
            stroke 200ms ease;
    }
}

body {
    background-color: var(--background);
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
}

.container {
    width: 100%;
    height: 100%;
    padding: var(--main-padding);
}

#canvas-container {
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
    overflow: visible;
}

.header {
    position: relative;
    z-index: var(--header-z-index);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);
    color: var(--light-color);
    background-color: var(--header-background);
    padding-inline: var(--main-padding);
    padding-block: var(--small-padding);

    // svg {
    //     rect {
    //         fill: var(--light-color);
    //     }
    // }

    h1 {
        margin: 0;
        padding: 0;
    }

    &__left {
        z-index: 2;
        display: flex;
        gap: var(--main-text-gap);
        align-items: center;
    }

    &__center {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        gap: var(--main-content-offset);
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        &__mine {
            display: flex;
            gap: var(--main-text-gap);
            align-items: center;
            padding: var(--small-padding);
            background-color: var(--primary-color-active);
            outline: 2px solid var(--primary-color-hover);

            &__count {
                font-weight: 600;
                font-size: 1.5rem;
            }
        }

        &__smile {
            &__button {
                height: fit-content !important;
                padding: 4px !important;
                font-size: 2rem;
                aspect-ratio: 1;

                * {
                    transform: scale(2);
                }
            }
        }

        &__timer {
            display: flex;
            align-items: center;
            padding: var(--small-padding);
            font-weight: 600;
            font-size: 1.5rem;
            background-color: var(--primary-color-active);
            outline: 2px solid var(--primary-color-hover);
        }
    }
}

canvas {
    position: absolute;

    &:last-of-type {
        outline: 2px solid var(--primary-color);
        box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;
    }
}
